.todoitems{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
}

.todoitems-container{
    display: flex;
}

.todoitems-text{
    padding-left: 20px;
    font-size: 22px;
    color: #404040;
}

.tick{
    font-size: 22px;
}

.cross{
    font-size: 22px;
    cursor: pointer;
}
.circle{
    font-size: 22px;
    cursor: pointer;
}

.line-through{
    text-decoration: line-through solid #ADADAD 3px;
}